In [3]:
#Print your name 10 times using multiplication (*)
x= "Shivam\n"
print (x*10)

Shivam
Shivam
Shivam
Shivam
Shivam
Shivam
Shivam
Shivam
Shivam
Shivam

In [5]:
#Print a multi-line string (your address).

In [6]:
print ( " 2-450/1,\n Tulsi nagar Polysheet, \n Kathgodam, Nainital \n UK 263139")

 2-450/1,
 Tulsi nagar Polysheet,
 Kathgodam, Nainital
 UK 263139

In [7]:
#Print the string:
#"I am learning Python" â†’ in UPPERCASE, lowercase, and title case.

In [11]:
X = "I am Learning Python"
x=X.upper()
print(x)

I AM LEARNING PYTHON

In [14]:
X = "I am Learning Python"
x=X.title()
print(x)

I Am Learning Python

In [12]:
X = "I am Learning Python"
x=X.lower()
print(x)

i am learning python