In [1]:
#Assign variables: age = 31, 
#height = 5.9, name = "Shivam", is_married = True.
age, height, name, is_married = 31, 5.9, "Shivam", "true"
print(f"His name is {name}, age is {age}, height is {height}, married: {is_married}")

His name is Shivam, age is 31, height is 5.9, married: true

In [2]:
type(age)

int

In [3]:
type(name)

str

In [4]:
type(is_married)

str

In [5]:
type(height)

float

In [ ]:
#Swap two numbers without using a third variable.

In [7]:
x=3
y=9
x,y = y,x
print(f"x vlaue cahnged to {x} and y changed to {y}")

x vlaue cahnged to 9 and y changed to 3

In [ ]:
#Concatenate two strings (first_name + last_name)

In [9]:
print(str(age) + ' ' + str(name))

31 Shivam